.nav-link {
  color: #fff !important;
}

.nav-link:hover {
  color: #000 !important;
}

footer {
  height: 70px;
}

#github {
  color: #171515 !important;
}

#discord {
  color: #7289da !important;
}

#instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

#twitter {
  color: #00acee !important;
}
